ContactBook/Connected Services/ServiceReference/BookService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContacts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contacts" nillable="true" type="tns:Contacts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContacts" nillable="true" type="tns:ArrayOfContacts" />
  <xs:complexType name="Contacts">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contacts" nillable="true" type="tns:Contacts" />
</xs:schema>